.wrap-payerList{
    width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.wrap-payerList header{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 20px 20px;
    background: #F5F5F5;
    max-height: 150px;
    max-width: 600px;
    min-width: 200px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    box-shadow: 5px -3px 10px rgba(0, 0, 0, 0.1);
}

.wrap-payerList header .wrap{
    text-align: center;
    margin: 0 10px;
}
.wrap-payerList header .wrap .headline{
    font-size: 18px;
    margin-bottom: 10px;
}

.wrap-payerList header .wrap .number{
    font-size: 25px;
    font-weight: bold;
}

/*--------- table section --------------*/

.wrap-payerList .head-table{
    table-layout: fixed;
    width: 100%;
    max-width: 1;
    white-space: nowrap; 
    border-collapse: collapse;
    box-shadow: 5px -3px 10px rgba(0, 0, 0, 0.1);
    overflow-y: scroll;

    

}

.wrap-payerList .head-table thead tr{
    background-color: #444773;
    color: #ffffff;
    text-align: left;
    font-size: 1rem;

}   

.wrap-payerList .head-table th,
.wrap-payerList .head-table td {
    padding: 10px 15px;
}
.head-table tbody tr{
    border-bottom: 1px solid #dddddd;
    transition: 0.1s;
    font-size: 1rem;
}

.head-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.head-table tbody tr:hover{
    background-color: #f1effc86;
}

.head-table tbody tr:last-of-type{
    border-bottom: 2px solid #444773;
}
.wrap-payerList td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.col-mem{

    width: 30%;
}
.col-paid{
    width: 30%;
}
.col-dept{
    width: 25%;
}
.col-status{
    width: 15%;
}

    

.wrap-status{
    border-radius: 15px;
    padding: 2px;
    width: 60px;
    text-align: center;
    font-size: 13px;
}

.minus{
    background: #BE6C6C;
}
.plus{
    background: #6CBE83;
}
.free{
    background: #444773;
    color: #dddddd;
}
.plusnum{
    font-weight: bolder;
    color:#6CBE83
}
.minusnum{
    font-weight: bolder;
    color:#BE6C6C
}
.freenum{
    font-weight: bolder;
    color:#000
}

.nofriend{
    margin: 30px auto;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
@media screen and (max-width:1000px) {
    .wrap-payerList{
        overflow-x: scroll;
        align-items: flex-start
    }
    .wrap-payerList .head-table{
        width: 600px;
    }
}
@media screen and (max-width:500px) {
    .wrap-payerList{
        overflow-x: scroll;
        align-items: flex-start
    }
    .wrap-payerList header .wrap .headline{
        font-size: 13px;
    }
    .wrap-payerList header .wrap .number{
        font-size: 4vw;
    }
    .wrap-payerList .head-table{
        width: 400px;
    }
    .wrap-payerList .head-table th,
    .wrap-payerList .head-table td {
        font-size: 13px;
        
    }

    .col-mem{

        width: 100px;
    }
    .col-paid{
        width: 80px;
    }
    .col-status{
        width: 50px;
    }
    .col-dept{
        width: 100px;
        
    }
    .wrap-status{
        border-radius: 15px;
        padding: 1px;
        width: 45px;
        text-align: center;
        font-size: 9px;
    }
    .nofriend{
        font-size: 16px;
    }
}