.wrap-alllist{
    position: relative;
   
}
.wrap-alllist .head-table{
    table-layout: fixed;
    width: 100%;
    white-space: nowrap; 
    border-collapse: collapse;
    box-shadow: 5px -3px 10px rgba(0, 0, 0, 0.1);
    
}

.wrap-alllist .head-table thead tr{
    background-color: #444773;
    color: #ffffff;
    text-align: left;
    border-radius: 10px;
    font-size: 1rem;
}

.wrap-alllist .head-table th,
.wrap-alllist .head-table td {
    padding: 10px 15px;
}

.head-table tbody tr{
    border-bottom: 1px solid #dddddd;
    font-size: 1rem;
    
}

.head-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.head-table tbody tr:last-of-type{
    border-bottom: 2px solid #444773;
}
.wrap-alllist td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-list{
    width: 30%;
}
.col-mem{
    width: 30%;
}
.col-amount{
    width: 25%;
}
.col-remove{
    width: 10%;
    
}
.wrapTotal{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.total{
    margin-top: 10px;
    box-shadow: 5px -3px 10px rgba(0, 0, 0, 0.1);
    background-color: #444773;
    min-width: 80px;
    text-align: center;
    color: #FFF;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px;

}

@media screen and (max-width:500px){
    .wrap-alllist {
        overflow-x: scroll;
    }
    .wrap-alllist .head-table th,
    .wrap-alllist .head-table td{
        font-size: 13px;
    }
    .wrap-alllist .head-table{
        width: 400px;
    }
    .col-list{
        width: 80px;
    }
    .col-mem{
        width: 50px;
    }
    .col-amount{
        width: 90px;
    }
    .col-remove{
        width: 40px;
        
    }
    .total{
        font-size: 15px;
    }
}