@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;700&display=swap');
body{
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Prompt', sans-serif;
}

.App {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right,#524175,#295270);
  min-height: 100vh;
  box-sizing: border-box;
}
::-moz-selection { 
  background-color: #BA9EB0; 
  color: #ffffff;
  }
::selection {
  background-color: rgb(159, 112, 204);
  color: #ffffff;
  }