body{
  height: 100vh;

}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  background: linear-gradient(to right,#524175,#295270);
  min-height: 100vh;
  box-sizing: border-box;
}
::-moz-selection { 
  background-color: #BA9EB0; 
  color: #ffffff;
  }
::selection {
  background-color: rgb(159, 112, 204);
  color: #ffffff;
  }